# init.recovery.qcom.rc
# Qualcomm recovery init for ruan (SM7435)

on init
    start vendor.rmt_storage
    start vendor.tftp_server

on fs
    wait /dev/block/platform/soc/1d84000.ufshc
    symlink /dev/block/platform/soc/1d84000.ufshc /dev/block/bootdevice

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    install_key_timeout 120

on property:twrp.all.users.decrypted=true
    setprop security.perf_harden 0
